


<div>
        <div class="about-section">
            <img class="img"src="https://i.pinimg.com/564x/97/56/48/975648298fb2697761c29cb0998089e3.jpg" alt="">
            <h1>Choose the right plan for you and your family. . .</h1>
          <h2>Our online tools will help you choose the right plan.</h2>
          <p>2023 Medical Aid Plans</p>
          <!-- <button class="cta-button">Get Started</button> -->
        </div>
 



 
      <div class="cards">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">mediSwift</div>
        <div class="card-body">
          <!-- <h5 class="card-title">mediSwift</h5> -->
          <p class="card-text">Is an unlimited hospital plan to cover In-Hospital expenses for major medical emergencies. MediSwift offers unlimited In-Hospital cover through the Compact Hospital Network.</p>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">PremiumPlus</div>
        <div class="card-body">
          <!-- <h5 class="card-title">PremiumPlus</h5> -->
          <p class="card-text">For corporates and
                professionals, offering unlimited hospital cover and the freedom to manage daily healthcare expenses through a Personal Savings Account.</p>
        </div>
      </div>
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">MediBonus</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Success card title</h5> -->
          <p class="card-text"> A corporate choice for employees and individuals who require comprehensive unlimited In-Hospital coupled with Day-to-Day benefits.</p>
        </div>
      </div>
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">MediSave</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Danger card title</h5> -->
          <p class="card-text">Members who want to manage their own Out-of-Hospital expenses through a Personal Savings Account whilst having unlimited hospital cover.</p>
        </div>
      </div>
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">MediCore</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Warning card title</h5> -->
          <p class="card-text">Hospital plan for those who
                require unlimited hospital
                cover, with full PMB cover.</p>
        </div>
      </div>
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">MediValue</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Info card title</h5> -->
          <p class="card-text">MediValue is the ideal option for first time medical cover buyers (young and healthy individuals).</p>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">MediPlus</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Light card title</h5> -->
          <p class="card-text">Both the Prime and Compact choices are suitable for members who require more benefits – unlimited hospital cover with a range of day-to-day benefits.</p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">MediPhila</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Dark card title</h5> -->
          <p class="card-text">You never know when you, or any of your registered dependants, may require medical care which could result in substantial costs.</p>
        </div>
      </div>

     <div class="info">
        <!-- <img class="img"src="https://i.pinimg.com/564x/fe/d0/ed/fed0ed4f4506a6c1cac36cc16f1da957.jpg" alt=""> -->
            <h1>we are TRUSTWORTHY, offer Superior Quality at a Great Price and We pay our Members Claims Timeously</h1>
          <!-- <h2>Our online tools will help you choose the right plan.</h2>
          <p>2023 Medical Aid Plans</p> -->

     </div>

     

      


</div>
     

      

      










