<div>
    <div class="hero-section">
        <img class="img"src="https://i.pinimg.com/564x/9f/c2/8e/9fc28e8f5baede9e86794da12ca784ab.jpg" alt="">
      <h1>Welcome to Medical Aid App</h1>
      <p>Learn about medical aid and apply for assistance.</p>
      <!-- <button class="cta-button">Get Started</button> -->
    </div>
  </div>
  <!-- <div class="has-bg-img">
    <div class="bg-img bg-cover" style="background-image: url('https://i.pinimg.com/564x/9f/c2/8e/9fc28e8f5baede9e86794da12ca784ab.jpg'); height:100%; width:100%;">
   -->

  <footer>
    <div class="footer-content">
      <p>Contact us: info@medicalaidapp.com | 123-456-7890</p>
    </div>
  </footer>

