<div>
    <div class="hero-section">
        <img class="img"src="https://i.pinimg.com/564x/9f/c2/8e/9fc28e8f5baede9e86794da12ca784ab.jpg" alt="">
      <h1>MEDSHIELD</h1>
      <h2>medical scheme</h2>
      <p>Join thousands of satisfied users who have revolutionized their healthcare experience with MEDSHIELD.We are proud to present a cutting-edge platform that simplifies and enhances your access to medical schemes like never before.Say goodbye to complex paperwork,long waiting times,and frustrating phone calls.With our user-friendly application,you can unlock a world of convenience and empowerment..</p>
      <!-- <button class="cta-button">Get Started</button> -->
    </div>
  </div>

  
  <!-- <div class="has-bg-img">
    <div class="bg-img bg-cover" style="background-image: url('https://i.pinimg.com/564x/9f/c2/8e/9fc28e8f5baede9e86794da12ca784ab.jpg'); height:100%; width:100%;">
   -->

  <footer>
    <div class="footer-content">
      <p>Contact us: info@medicalaidapp.com | 123-456-7890</p>

      
    </div>
  </footer>

